body {
    font-family: 'PT Sans';
}

.container {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-rows: 4rem 2rem 100%;

    grid-template-areas:
        "header header"
        "selector none"
        "sidebar content";

    margin: 2rem;
}

.selector {
    grid-area: selector;
}

.select {
    width: 100%;
    font-size: 1.4em;
}

.sidebar {
    grid-area: sidebar;
}

.tab {
    font-size: 1.2em;
    background-color: grey;
    cursor: pointer;
    padding: 0.6rem;
    color: white;
    font-weight: bold;
}

.header {
    grid-area: header;
    font-size: 3em;
}

.footer {
    color: rgb(189, 189, 189);
    font-size: 0.8em;
    padding-top: 0.6rem;
    text-align: center;
}

.content {
    grid-area: content;
    margin-left: 1rem;
    font-size: 1.3em;
}

.material > a {
    text-decoration: none;
    color: black;
}

.material > a:hover {
    text-decoration: none;
    color: rgb(110, 70, 255);
}

.material {
    padding: 0.1rem 0;
    font-size: 1.1rem;
}

.cumulative {
    font-size: 1.1em;
    padding-bottom: 1rem;
}

.assignment {
    display: grid;
    grid-template-columns: 1.9fr 1.3fr 0.8fr 1fr 1.2fr 0.3fr;
    grid-template-rows: auto;

    grid-template-areas:
        "name duedate grade solutions submissions submit";
    align-items: center;

    padding-bottom: 1rem;
}

.assignment > .submit {
    grid-area: submit;
}

.assignment > .name {
    grid-area: name;
    text-overflow: ellipsis;
}

.assignment > .duedate {
    grid-area: duedate;
}

.assignment > .grade {
    grid-area: grade;
}

.assignment > .download {
    grid-area: download;
}

.assignment > .submissions {
    grid-area: submissions;
}

.grade-title {
    font-weight: bold;
}

[v-cloak] {display: none}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.9em solid rgba(88,88,88, 0.2);
  border-right: 0.9em solid rgba(88,88,88, 0.2);
  border-bottom: 0.9em solid rgba(88,88,88, 0.2);
  border-left: 0.9em solid #585858;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.topic {
    padding-bottom: 2rem;
}

.topic > .title {
    background-color: #95a5a6;
    padding: 0.5rem 0.5rem;
    color: white;
    font-weight: bold;
}

.github {
    background-image: url(/icons/github.png);
    width: 2rem;
    height: 2rem;
    background-repeat: round;
    margin: 0 auto;
    margin-top: 1rem;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.2s;
}

.github:hover {
    opacity: 1;
}

.thead {
    background-color: #95a5a6;
    padding: 0.7rem 0.5rem;
    color: white;
    font-weight: bold;
}

.rows > div:nth-child(odd) {
    background-color: #f3f3f3;
    padding: 0.5rem 0.5rem;
    font-size: 1.2em;
}

.rows > div:nth-child(even) {
    background-color: white;
    padding: 0.5rem 0.5rem;
    font-size: 1.2em;
}

.dl > a {
    font-size: 0.7em;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.8fr 0.8fr 0.5fr 0.5fr;
    grid-template-rows: auto;

    grid-template-areas:
        "name instructor time location spaces pick";
    align-items: center;

    padding-bottom: 1rem;
}

.section > .name {
    grid-area: name;
}

.section > .instuctor {
    grid-area: instructor;
}

.section > .time {
    grid-area: time;
}

.section > .location {
    grid-area: location;
}

.section > .spaces {
    grid-area: spaces;
}

.section > .pick {
    grid-area: pick;
}

.link {
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

.link:hover {
    color: blue;
}

.external {
    opacity: 0.5;
}

.description {
    font-style: italic;
    margin-bottom: 0.5rem;
    color: #95a5a6;
    font-size: 0.8em;
}
