<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LMOD Plus</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" id="app" v-cloak>
        <div class="header">
            LMOD+
        </div>
        <div class="selector">
            <select v-model="currentCourse" class="select" @change="reloadCourse">
                <option v-bind:value="course.uuid" v-for="course in classes">{{ course.name }}</option>
            </select>
        </div>
        <div class="sidebar">
            <div class="tab" @click="state = 'materials'">Materials</div><br>
            <div class="tab" @click="state = 'assignments'">Assignments</div><br>
            <div class="tab" @click="switchOld">Old LMOD</div>
            <a href="https://github.com/revalo/lmodplus" target="_blank"><div class="github"></div></a>
            <div class="footer">
                © 2018 Shreyas Kapur<br>
                Released Under MIT License
            </div>
        </div>
        <div class="content">
            <div class="loader" v-if="loading"></div>

            <div v-if="state == 'materials'">
                <div class="topic" v-for="topic in sortedMaterials">
                    <div class="title">{{ topic.title }}</div>
                    <div class="material" v-for="material in topic.materials">
                        <a v-bind:href="materialLink(material)"><span class="title">{{ material.title }}</span></a>
                    </div>
                </div>
            </div>

            <div v-if="state == 'assignments' && !loading">
                <div class="cumulative"><b>Cumulative Grade:</b> {{ cumulative }}</div>
                <div class="assignment thead">
                    <div class="name">Name</div>
                    <div class="duedate">Due Date</div>
                    <div class="grade">Grade</div>
                    <div class="submissions">Submissions</div>
                </div>
                <div class="rows">
                    <div class="assignment" v-for="assignment in assignments" >
                        <div class="name">
                            <div>
                                {{ assignment.name }}
                            </div>
                            <div class="dl" v-for="dl in getDownloads(assignment.assignmentId)">
                                <a v-bind:href="materialLink(dl)">{{ dl.title }}</a>
                            </div>
                        </div>
                        <div class="duedate">{{ dateFormat(assignment.dueDate) }}</div>
                        <div class="grade">
                            <span v-if="assignment.maxPointsTotal == undefined">{{ assignment.gradeString }}</span>
                            <span v-if="assignment.maxPointsTotal != undefined && assignment.gradeString != ''">{{ assignment.gradeString }} / {{ assignment.maxPointsTotal }}</span>
                            <span v-if="assignment.maxPointsTotal != undefined && assignment.gradeString == ''">Ungraded / {{ assignment.maxPointsTotal }}</span>
                        </div>
                        <div class="submissions">
                            <div class="dl" v-for="dl in getSubmissions(assignment.assignmentId)">
                                <a v-bind:href="submissionLink(dl)">{{ dl.title }}</a> 
                            </div>
                        </div>
                        <div class="submit">
                            <input v-bind:id="assignment.assignmentId" type="file" v-on:change="uload(assignment.assignmentId)" hidden />
                            <button @click="uloadClick(assignment.assignmentId)">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/dist/axios.min.js"></script>
    <script src="/dist/vue.js"></script>
    <script src="/src/api.js"></script>
    <script src="/src/main.js"></script>
</body>
</html>
